.embla {
    padding: 10px;

    --slide-height: 22rem;
    --slide-spacing: 1rem;
    --slide-spacing-xs: 1.4rem;
    --slide-spacing-sm: 1.6rem;
    --slide-spacing-lg: 1.8rem;
    --slide-spacing-xl: 2.1rem;

    --slide-size: 200%;
    --slide-size-xs: 160%;
    --slide-size-sm: 100%;
    --slide-size-lg: 65%;
    --slide-size-xl: 50%;
}

.embla__viewport {
    overflow: hidden;
    padding: 20px;
}

.embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
}

@media (min-width: 0px) {
    .embla__container {
        margin-left: calc(var(--slide-spacing-xs) * -1);
    }
}

@media (min-width: 600px) {
    .embla__container {
        margin-left: calc(var(--slide-spacing-sm) * -1);
    }
}

@media (min-width: 1200px) {
    .embla__container {
        margin-left: calc(var(--slide-spacing-lg) * -1);
    }
}

@media (min-width: 1500px) {
    .embla__container {
        margin-left: calc(var(--slide-spacing-xl) * -1);
    }
}

.embla__slide {
    min-width: 0;
    flex: 0 0 var(--slide-size);
    padding-left: var(--slide-spacing);
}

@media (min-width: 0px) {
    .embla__slide {
        flex: 0 0 var(--slide-size-xs);
        padding-left: var(--slide-spacing-xs);
    }
}

@media (min-width: 600px) {
    .embla__slide {
        flex: 0 0 var(--slide-size-sm);
        padding-left: var(--slide-spacing-sm);
    }
}

@media (min-width: 1200px) {
    .embla__slide {
        flex: 0 0 var(--slide-size-lg);
        padding-left: var(--slide-spacing-lg);
    }
}

@media (min-width: 1500px) {
    .embla__slide {
        flex: 0 0 var(--slide-size-xl);
        padding-left: var(--slide-spacing-xl);
    }
}

.embla__slide__number {
    border: 1px solid #f5f5f5;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    padding: 20px;
    display: flex;
    height: var(--slide-height);
    user-select: none;
}

.embla__slide__number:hover {
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.embla_text {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
}

.embla_short_biography {
    padding-top: 8px;
    text-align: justify;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
    overflow: hidden;
}

.embla_person_details {
    display: flex;
    flex-direction: column;
}

.embla_link_button {
    display: flex;
    justify-content: end;
}
